.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: block;
  margin-bottom: .5em;
  color: #333333;
}

input, textarea {
  border: 1px solid #CCCCCC;
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

input:focus, textarea:focus {
  border-color: rgb(91, 9, 245);
}

input[type="submit"] {
  background: #007BFF;
  color: rgb(44, 199, 247);
  border: none;
  padding: 0.7em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1em;
}

input[type="submit"]:hover {
  background: #0056b3;
}
