<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Formulario HODOS</title>
    <link rel="stylesheet" href="Formulario.css"> <!-- Vincula el archivo CSS externo -->
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    
    <div class="form-container">
        <div class="question-container">
            <p>1. ¿Qué tan interesado estás en la tecnología?</p>
        </div>
        <div class="options-container">
            <label><input type="radio" name="opcion" value="mucho"> Me gusta mucho</label><br>
            <label><input type="radio" name="opcion" value="gusta"> Me gusta</label><br>
            <label><input type="radio" name="opcion" value="indiferente"> Me es indiferente</label><br>
            <label><input type="radio" name="opcion" value="no-me-gusta"> No me gusta</label>
            <p>1. ¿Qué tan interesado estás en los deportes?</p>
        </div>
        <div class="options-container">
            <label><input type="radio" name="opcion" value="mucho"> Me gusta mucho</label><br>
            <label><input type="radio" name="opcion" value="gusta"> Me gusta</label><br>
            <label><input type="radio" name="opcion" value="indiferente"> Me es indiferente</label><br>
            <label><input type="radio" name="opcion" value="no-me-gusta"> No me gusta</label>


        </div>
        <div class="button-container">
            <button type="submit">Enviar</button> 
        </div>
    </div>
</body>
</html>
