.div {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e6e5e5; /* Fondo de la página */
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('logo.svg'); /* Añadir imagen de fondo */
  background-size: 50px 50px; /* Ajustar tamaño de la imagen de fondo */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  background-position: left center; /* Posicionar la imagen */
}

.logo-container img {
  height: 50px; /* Altura de la imagen del logo */
  width: auto; 
}



button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0642f5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(6, 42, 245);
  border-radius: 4px;
}

.response-message,
.university-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.response-message {
  background-color: #a3f8b7;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.universidad-message {
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  color: #000000;
}