<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario HODOS</title>
    <link rel="stylesheet" href="Formulario.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <img src="imagen HODOS SVG/Logo Navbar.svg" alt="Logo de HODOS">
        </div>
    </nav>
    <div class="div">
        <h1>Formulario HODOS</h1>
        <form id="surveyForm">
            <div class="form-group">
                <label for="comida">¿Cuál es tu comida favorita?</label>
                <input type="text" id="comida" name="comida" required>
            </div>
            <div class="form-group">
                <label for="hobby">¿Cuál es tu hobby favorito?</label>
                <input type="text" id="hobby" name="hobby" required>
            </div>
            
            
            <button type="submit">Siguiente</button>
        </form>
        <div id="responseMessage" class="response-message"></div>
        <div id="universidadMessage" class="universidad-message"></div>
    </div>

    <script src="app.js"></script>
</body>
</html>
