.inicio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.inicio-box {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 350px;
  width: 700px;
}

.inicio-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1260b4;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.inicio-button:hover {
  background-color: #0056b3;
}

.highlight {
  color: #0367aa;
}

