<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio con Navbar</title>
  <link rel="stylesheet" href="Inicio.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">HODOS</div>
    <div class="navbar-links">
      <a href="SobreNosotros.html" class="button">Sobre Nosotros</a>
      <a href="#especialistas">Especialistas</a>
      <button class="navbar-toggle">
        <span class="navbar-toggle-icon">&#9776;</span>
      </button>
    </div>
  </nav>