<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio con Navbar</title>
  <link rel="stylesheet" href="Navbar.css"> 
</head>
<body>
  <nav class="navbar">
    <div className="logo">
    <img src="../../public/LOGO.jpg" alt="HODSO">
    </div>
    <div class="menu">
      <a href="SobreNosotros" className="menu-item">Sobre Nosotros</a>
      <a href="#especialistas" className="menu-item">Especialistas</a>
      <button class="navbar-toggle">
        <span class="navbar-toggle-icon">&#9776;</span>
      </button>
    </div>
  </nav>