/* Prediction.css */

/* General Styles */
.buckle-up {
    font-size: 18px;
    font-weight: bold;
    color: #003366; /* Azul oscuro */
    margin-bottom: 20px;
  }
  
  .rating-scale {
    margin-bottom: 20px;
  }
  
  .rating {
    font-size: 24px;
    font-weight: bold;
    color: #0066cc; /* Azul medio */
  }
  
  /* Chart Styles */
  .bar-chart, .bar-chart-horizontal {
    max-height: 85%;
    max-width: 40%;
    margin-bottom: 20px;
  }
  
  /* Cluster Heading */
  .cluster-heading {
    margin-top: 40px;
    color: #003366; /* Azul oscuro */
    text-align: center;
  }
  
  /* Additional Styles */
  h4.dominant {
    color: #004080; /* Azul intenso */
  }
  
  button {
    background-color: #007bff; /* Azul estándar */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Azul más oscuro en hover */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #0066cc; /* Azul medio */
    color: white;
  }
  
  table tr:hover {
    background-color: #e6f2ff; /* Azul claro */
  }
  
  
  
  
 