<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Formulario HODOS</title>
    <link rel="stylesheet" href="Formulario.css"> <!-- Vincula el archivo CSS externo -->
</head>
<body>
    <div class="header"> <!-- Contenedor principal para el logo y la navegación -->
        <div class="logo-container">HODOS</div> <!-- Contenedor del logo -->
        <ul class="navbar"> <!-- Barra de navegación -->
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Áreas de Interés</a></li>
            <li><a href="#">Especialistas</a></li>
        </ul>
    </div>
    
    <div class="form-container">
        <div class="question-container">
            <p>1. ¿Qué tan interesado estás en el deporte?</p>
        </div>
        <div class="options-container">
            <label><input type="radio" name="opcion" value="mucho"> Me gusta mucho</label><br>
            <label><input type="radio" name="opcion" value="gusta"> Me gusta</label><br>
            <label><input type="radio" name="opcion" value="indiferente"> Me es indiferente</label><br>
            <label><input type="radio" name="opcion" value="no-me-gusta"> No me gusta</label>
        </div>
        <div class="button-container">
            <a href="Pregunta3.html" class="button">Siguiente</a> 
        </div>
    </div>
</body>
</html>
