<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Formulario</title>
    <link rel="stylesheet" href="Resultados.css">
</head>
<body>
    <div class="container">
        <h2>Resultados formulario:</h2>

        <!-- Checkbox oculto para activar la visualización -->
        <input type="checkbox" id="mostrarResultados" class="checkbox">

        <!-- Botón que actúa como label para el checkbox -->
        <label for="mostrarResultados" class="btn">Mostrar Resultados</label>

        <!-- Contenedor de resultados -->
        <div id="resultados" class="resultados">Diseño en indumentaria</div>

       
       
            

    </div>
</body>
</html>


