<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio con Navbar</title>
  <link rel="stylesheet" href="Inicio.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">HODOS</div>
    <div class="navbar-links">
      <a href="Formulario.html" class="button">Formulario Inicial</a>
      <a href="#especialistas">Especialistas</a>
      <button class="navbar-toggle">
        <span class="navbar-toggle-icon">&#9776;</span>
      </button>
    </div>
  </nav>
  <div class="inicio-container">
    <div class="inicio-box">
      <h2>Proyecto HODOS</h2>
      <p>
        Para resolver la incertidumbre vocacional de los jóvenes, presentamos "Hodos", una plataforma web que utiliza formularios para identificar intereses y aptitudes de los usuarios. Basándose en estos datos, Hodos recomienda carreras y universidades adecuadas, enriqueciendo la información con testimonios de exalumnos sobre sus experiencias académicas y profesionales. Además, la plataforma facilita el contacto directo con psicólogos y orientadores vocacionales para consultas más profundas, ofreciendo un recurso integral para la orientación vocacional.

        <span class="highlight"> Exitos!</span>
      </p>
      
      
    </div>
  </div>
</body>
</html>
